
        /* Custom CSS */
        .jumbotron {
            text-align: center;
            color: #e9ecef;
            background-color:#06223f ; /* Light gray background */
            padding: 30px 0; /* Add padding to top and bottom */
            margin-bottom: 0; /* Remove bottom margin */
        }
        .jumbotron h1 {
            font-size: 4.5rem; /* Larger font size for heading */
            color: #343a40; /* Dark text color */
        }
        .jumbotron h3 {
            color: #7494af; /* Lighter text color */
            font-size: 3rem;
        }




/* .jumbotron{
    padding: 2rem 1rem;
    background-color: #e9ecef;
    text-align: center;
} */