<div class= "jumbotron " style="position: relative;">
    <div class= "text-center" >
        <h1 style="color: #e9ecef;" class="display-4">Nabil Alhaffar</h1>
        <h3> Full-Stack Software Engineer</h3>

    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/nabil-alhaffar-05037b107/" target="_blank" class= "">
            <img src="../../assets/linkedin.png" alt="" width="24" height="24" class="rounded-circle me-2">
            
        </a>
        <a href="https://leetcode.com/nabilalhaffar/" target="_blank" class= "">
            <img src="../../assets/leetcode.png" alt="" width="24" height="24" class="rounded-circle  me-2">
            
        </a>
            <a href="https://github.com/Nabil-alhaffar" target="_blank" class= "">
            <img src="../../assets/github.png" alt="" width="24" height="24" class="rounded-circle me-2">
        </a>
            <a href="https://www.instagram.com/nabilalhaffar/" target="_blank" class= "">
            <img src="../../assets/instagram.png" alt="" width="24" height="24" class="rounded-circle me-2">
        </a>
            <a href="https://twitter.com/nabil_haffar" target="_blank" class= "">
            <img src="../../assets/x.png" alt="" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>
</div> 