<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h2 class="custom-heading mt-2 mb-5"> <u style="text-underline-offset: 10px;">Stay in Touch!</u></h2>
        <p class="tert">I can be reached at <b>Nabil.alhaffar1&#64;gmail.com</b></p> 
        <p class="tert">Also, feel free to connect with me on any of the social platforms below!</p>   
    </div>
    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/nabil-alhaffar-05037b107/" target="_blank" class= "list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="../../assets/linkedin.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0 custom-heading">LinkedIn</h3>
        
    </a>
    <a href="https://leetcode.com/nabilalhaffar/" target="_blank" class= "list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="../../assets/leetcode.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0 custom-heading">Leetcode</h3>
        
    </a>
        <a href="https://github.com/Nabil-alhaffar" target="_blank" class= "list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="../../assets/github.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0 custom-heading">Github</h3>
    </a>
        <a href="https://www.instagram.com/nabilalhaffar/" target="_blank" class= "list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="../../assets/instagram.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0 custom-heading">Instagram</h3>
    </a>
        <a href="https://twitter.com/nabil_haffar" target="_blank" class= "list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="../../assets/x.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0 custom-heading">X</h3>
    </a>
    </div>
</div>