<div class="container">
    <div class="mb-2">
        <div>
            <button style="background-color: white; color: #06223f ; border-color: #06223f;" class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed">Filter</button>
            <button class="btn btn-outline-secondary mb-2" (click)="ResetFilters()" [hidden]="!filtering">Reset</button>
        </div>
        <div [collapse]="isCollapsed " [isAnimated]="true">
            <div class="border mb-2 shadow-sm" style="width: 250px;">
            <form>
                <div class="row mx-0">
                    <div class="col">
                        <small><b>Languages:</b></small>
                        <div class="form-group">
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="csharp"
                                (change)="Filter()"
                                name="csharp">
                                <label class="form-check-label small">C#</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="c"
                                (change)="Filter()"
                                name="c">
                                <label class="form-check-label small">C/C++</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="python"
                                (change)="Filter()"
                                name="python">
                                <label class="form-check-label small">Python</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="typescript"
                                (change)="Filter()"
                                name="TypeScript">
                                <label class="form-check-label small">TypeScript</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="javascript"
                                (change)="Filter()"
                                name="javascript">
                                <label class="form-check-label small">JavaScript</label>
                            </div>
                            
                            
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="java"
                                (change)="Filter()"
                                name="java">
                                <label class="form-check-label small">Java</label>
                            </div>
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="swift"
                                (change)="Filter()"
                                name="swift">
                                <label class="form-check-label small">Swift</label>
                            </div>
                           

                        </div>
                    </div>
                    <div class="col"></div>
                        <small><b>Frameworks:</b></small>
                        <div class="form-group">
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="aspnet"
                                (change)="Filter()"
                                name="ASP.NET">
                                <label class="form-check-label small">ASP.NET</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="angular"
                                (change)="Filter()"
                                name="Angular">
                                <label class="form-check-label small">Angular</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="react"
                                (change)="Filter()"
                                name="React">
                                <label class="form-check-label small">React</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="xamarin"
                                (change)="Filter()"
                                name="Xamarin">
                                <label class="form-check-label small">Xamarin</label>
                            </div>

                        </div>
                       
                        <div class="form-group">
                            <div class="form-check">
                                <input 
                                type="checkbox" 
                                class="form-check-input position-static me-2"
                                [(ngModel)]="nodejs"
                                (change)="Filter()"
                                name="Node.JS">
                                <label class="form-check-label small">Node.Js</label>
                            </div>
                            
                        </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let project of projects " class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380;">
            <app-project-card [project]="project"></app-project-card>

        </div>

    </div>
</div>