<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/portfolioPic.png" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>Dual-competent self-motivated professional excelling in both full-stack software development and sales, bringing a unique
                    blend of technical prowess and sales acumen. With 4 years of experience and a solid background in software engineering and
                    programming, I specialize in crafting scalable solutions for mobile, web, desktop, and embedded systems, as well as delivering clean
                    code that adheres to coding principles. In parallel, boasting 8 years in sales experience, I am a top-ranked sales professional with proven
                    expertise in sales management, problem solving and opportunity maximization. Consistently a top performer, my work ethic and
                    passion for continuous learning set me apart in both realms.</p>
            </div>
        </div>
        <!-- Featured Projects -->
        <div class="col-lg shadow border m-1">

            <div class="text-center">
                <h2>Highlighted Projects</h2>
            </div>
        </div>
    </div>
</div>
    